# Database
DATABASE_URL=postgresql://goaluser:goalpass@db:5432/goalgetterdb
#DATABASE_URL=postgresql://goaluser:goalpass@localhost:5472/goalgetterdb

# Security
SECRET_KEY=change-me-to-a-strong-random-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120

# App
APP_TIMEZONE=America/Fortaleza
DB_RUN_SEED=true

# Logging
BACKEND_LOGS_ENABLED=true
BACKEND_LOG_LEVEL=INFO
BACKEND_LOG_DIR=logs
BACKEND_LOG_RETENTION_DAYS=7

# Integrations (optional)
CHAT_WEBHOOK_URL=
CHAT_ENABLED=false
REDMINE_URL=
REDMINE_API_KEY=
REDMINE_ENABLED=false
PETRVS_API_URL=https://petrvshomolog.ufpi.edu.br/transparencia-api
PETRVS_ENABLED=false
